.home-humility{
  text-align: center;
}

.home-fa-twitter{
  margin-left: 2em;
}
.messaging{

    width: 100%;
    height: 100%;

    display:flex;
    flex-direction: row;
    border:3px solid #000;

}
